{% extends 'planilla/base.html' %}
{% load static %}
{% block css_block %}
<style>
  #map {
      height: 500px;
      width: 100%;
  }
</style>
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="col-sm-6">
        </div><!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
        <!-- 1ra fila -->
         <div class="row col-sm-12 mb-3 d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card card-info">
                    <div class="card-header border-0">
                      <h3 class="card-title">Nuevo servicio</h3>
                    </div>
                    <div class="card-body">
                    <form action="/cargar_servicio/" method="POST" id="form_servicio">
                        {% csrf_token %}
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="row form-group col-md-12">
                                <label for="">Dirección de la intervención</label>
                                <div class="row col-md-12">
                                    <input class="form-control col-sm-8" type="text" name="address" id="address" placeholder="Ingrese una dirección" required>
                                    <button class="btn btn-success" onclick="geocodeAddress()">Buscar Dirección</button>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="row form-group mr-3 col-md-4">
                                    <label for="exampleInputPassword1">Número de guardia operativa</label>
                                    <input type="number" class="form-control" id="guardia" name="guardia" min="0" required>
                                </div>
                                <div class="row form-group col-md-4">
                                    <label for="exampleInputPassword1">Número de servicio</label>
                                    <input type="number" class="form-control" id="numeroservicio" name="numero" min="0" required>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-3 row mr-3">
                                    <label for="exampleInputPassword1">Zona</label>
                                    <input class="form-control" type="text" name="zona" id="zona">
                                </div>
                                <!-- <div class="form-group col-md-3 row mr-3">
                                    <label for="exampleInputPassword1">Móvil</label>
                                    <select class="form-control" name="movil" id="movil">
                                    {% for movil in moviles %}
                                    {% if movil.IDEstado.estado == "En servicio" or movil.IDEstado.estado == "Condicional" %}
                                        <option value="{{ movil.id }}">Móvil {{ movil.numero }}</option>
                                    {%endif%}
                                    {% endfor %}
                                    </select>
                                    </div> -->
                                <div class="form-group col-md-4 row">
                                    <label for="exampleInputPassword1">Hora de salida</label>
                                    <input type="datetime-local" class="form-control" id="horasalida" name="salida" required>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-6 row mr-3">
                                    <label for="exampleInputPassword1">Encargado</label>
                                    <select class="form-control" name="encargado" id="encargado" required>
                                        {% for bombero in bomberos %}
                                            <option value="{{ bombero.id }}">{{ bombero.IDJerarquia.jerarquia }} {{ bombero.apellido }}, {{ bombero.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4 row mr-3">
                                    <label for="exampleInputPassword1">Tipo de servicio</label>
                                    <select class="form-control" name="tiposervicio" id="tiposervicio" required>
                                        {% for tipo in tipo_servicios %}
                                            <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-6 row mr-3">
                                    <label for="exampleInputPassword1">Denunciante</label>
                                    <input class="form-control" type="text" name="denunciante">
                                </div>
                                <div class="form-group col-md-4 row mr-3">
                                    <label for="exampleInputPassword1">Teléfono del denunciante</label>
                                    <input class="form-control" type="text" name="telefono">
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAsignarMovil">
                                    Agregar Móvil
                                </button>
                            </div>

                                                        <!-- Modal -->
                            <div class="modal fade" id="modalAsignarMovil" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Asignar Móvil y Bomberos</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="movilSelect">Móvil:</label>
                                            <select id="movilSelect" class="form-control">
                                                {% for movil in moviles %}
                                                <option value="{{movil.id}}">Móvil {{movil.numero}}</option>
                                                {%endfor%}
                                            </select>

                                            <label for="bomberosSelect">Bomberos:</label>
                                            <select id="bomberosSelect" class="form-control duallistbox" multiple style="height: 500px;">
                                                {% for bombero in bomberos %}
                                                <option value="{{bombero.id}}">{{bombero.IDJerarquia.jerarquia}} - {{bombero.apellido|upper}}, {{bombero.nombre}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" id="asignarMovil">Asignar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="movilesAsignados"></div>

                            <input type="hidden" id="latitude" name="latitude">
                            <input type="hidden" id="longitude" name="longitude">
                            <button type='submit' class="btn btn-danger">Iniciar intervención</button>
                        </div>
                        <div class="col-md-6">                   
                            <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
                                <div id="map" style="height: 500px; width: 900px;"></div>
                            </div>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>

{% endblock %}
{% block js_block %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgZ9iDyLaJEwAAYUcuN7MgVWN2alaLd1s&libraries=places"></script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        let input = document.getElementById("horasalida");

        // Obtener la fecha y hora actual en formato compatible con datetime-local
        let now = new Date();
        let year = now.getFullYear();
        let month = String(now.getMonth() + 1).padStart(2, "0");
        let day = String(now.getDate()).padStart(2, "0");
        let hours = String(now.getHours()).padStart(2, "0");
        let minutes = String(now.getMinutes()).padStart(2, "0");

        let maxDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
        
        // Establecer el atributo max
        input.setAttribute("max", maxDateTime);
    });
</script>

<script>
    // Inicializa el mapa y el geocodificador
    var map;
    var geocoder;
    var marker;
    let zonas = [];
  
    function initMap() {
      // Crear el mapa y centrarlo en una ubicación predeterminada
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.657713050818785, lng: -58.63239669756467 },
        zoom: 13
      });
        // Inicializar el servicio de geocodificación
        geocoder = new google.maps.Geocoder();

      // Crea un marcador (será movido después según la dirección)
      marker = new google.maps.Marker({
        map: map,
      });
  
       // Cargar zonas desde el archivo JSON (pero sin dibujar en el mapa)
       fetch("{% static 'planilla/zonas.json' %}")
            .then(response => response.json())
            .then(data => {
                data.features.forEach(feature => {
                    let zonaCoords = feature.geometry.coordinates[0].map(coord => ({ 
                        lat: parseFloat(coord[1]), 
                        lng: parseFloat(coord[0]) 
                    }));
                    let zona = new google.maps.Polygon({ paths: zonaCoords }); // Solo se usa para verificar, no se dibuja
                    zonas.push({ nombre: feature.properties.Name, poligono: zona });
                });
            });
      
      // Crear el servicio de autocompletado
      var input = document.getElementById("address");
      var autocomplete = new google.maps.places.Autocomplete(input);
  
      // Asocia el autocompletado con el mapa
      autocomplete.bindTo("bounds", map);
  
      // Define lo que sucede cuando se selecciona una opción del autocompletado
      autocomplete.addListener("place_changed", function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                alert("No se encontraron coordenadas para la dirección.");
                return;
            }

            map.setCenter(place.geometry.location);
            map.setZoom(15);

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            // Guardar latitud y longitud en los inputs ocultos
            document.getElementById("latitude").value = place.geometry.location.lat();
            document.getElementById("longitude").value = place.geometry.location.lng();
        });
    }

    function geocodeAddress(event) {
        if (event) event.preventDefault()

        var address = document.getElementById("address").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                let location = results[0].geometry.location;
                map.setCenter(results[0].geometry.location);
                marker.setPosition(results[0].geometry.location);
                marker.setVisible(true);

                // Guardar latitud y longitud en los inputs ocultos
                document.getElementById("latitude").value = results[0].geometry.location.lat();
                document.getElementById("longitude").value = results[0].geometry.location.lng();

            // Verificar en qué zona se encuentra
            let zonaEncontrada = "Fuera de las zonas definidas";
                zonas.forEach(zona => {
                    if (google.maps.geometry.poly.containsLocation(location, zona.poligono)) {
                        zonaEncontrada = zona.nombre;
                    }
                });

                document.getElementById("zona").value = zonaEncontrada;
                console.log("zona", zonaEncontrada)
            } else {
                alert('No se pudo encontrar la dirección: ' + status);
            }

        });

    }

    // Cargar el mapa cuando la página esté lista
    google.maps.event.addDomListener(window, "load", initMap);


  </script>
{% endblock %}
