{% extends 'planilla/base.html' %}
{% load static %}

{% block title %}Móviles{% endblock %}
{% block css_block %}
{% endblock %}
{% block content %}
<style>
  .btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="col-sm-6">
            <h1>Listado de móviles</h1>
        </div><!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container col-md-12">
        <!-- Dropdown para filtrar por cuartel -->
        <div class="mb-3 d-flex justify-content-end">
            <label for="filtroCuartel" class="form-label mr-3"><strong>Filtrar por Cuartel:</strong></label>
            <select id="filtroCuartel" class="form-select" onchange="filtrarMoviles()">
                <option value="todos">Todos</option>
                {% for cuartel in cuarteles %}
                <option value="{{ cuartel.id }}">{{ cuartel.base }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Contenedor de móviles -->
        <div class="row" id="movilesContainer">
          {% for movil in todo_los_moviles %}
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 movil-card" data-cuartel="{{ movil.IDBase.id }}">
              <div class="card mb-3 card-outline {% if movil.IDEstado.estado == 'En servicio' %} card-success 
              {% elif movil.IDEstado.estado == 'Condicional' %} card-warning 
              {% elif movil.IDEstado.estado == 'Fuera de servicio' %} card-danger
              {% elif movil.IDEstado.estado == 'Ocupado' %} card-secondary
              {% endif %}">
                  <div class="card-header">
                      <h3 class="card-title ">Móvil {{ movil.numero }} - {{movil.IDEstado.estado}}</h3>
                  </div>
                  <div class="card-body">
                      <div class="col-sm-12">
                              <p><strong>Ubicación:</strong> {{ movil.IDBase }}</p>
                              <p><strong>Última carga de combustible:</strong> {{ movil.ultima_carga }}</p>
                              <p><strong>Desde última carga:</strong>
                                <span class="badge 
                                {% if movil.intervenciones <= 4 %} bg-success 
                                {% elif movil.intervenciones <= 7 %} bg-warning 
                                {% else %} bg-danger 
                                {% endif %}" style="font-size: 14px;">{{ movil.intervenciones }} intervenciones</span></p>
                                <p><strong>Último chequeo:</strong> {{ movil.ultima_fluidos }}</p>
                          </div>
                          <div class="row col-sm-12 d-flex justify-content-center">
                              <a class="btn bg-olive col-2 float-right mr-1" href="/check_material_movil/{{movil.id}}/" title="Inventario" data-bs-toggle="tooltip"><i class="fas fa-clipboard-list"></i> <i class="fas fa-screwdriver-wrench"></i></a>
                              <button type="button" data-toggle="modal" title="Carga de combustible" data-bs-toggle="tooltip" data-target="#cargar{{ movil.id }}" class="btn btn-dark col-2 float-right mr-1"><i class="fas fa-plus"></i> <i class="fas fa-gas-pump"></i></button>
                              <button type="button" data-toggle="modal" title="Chequeo del móvil" data-bs-toggle="tooltip" data-target="#fluidos{{ movil.id }}" class="btn btn-info col-2 float-right mr-1"><i class="fas fa-list-check"></i> <i class="fas fa-oil-can"></i></button>
                              <a class="btn bg-secondary col-2 float-right mr-1" title="Ficha del móvil" data-bs-toggle="tooltip" href="/movil/{{ movil.id }}/"><i class="fas fa-book"></i> <i class="fas fa-truck-moving"></i></a>
                              <button type="button" data-toggle="modal" data-target="#estado{{ movil.id }}" title="Cambio de estado" data-bs-toggle="tooltip" class="btn btn-danger col-2 float-right mr-1"><i class="fas fa-arrow-down-up-across-line"></i></button>
                          </div>
                  </div>
              </div>
          </div>
            <!-- MODAL COMBUSTIBLE-->
            <div class="modal fade" id="cargar{{ movil.id }}" tabindex="-1" aria-labelledby="cargar" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Carga de combustible - Móvil {{ movil.numero }}</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/cargarcombustible/{{ movil.id }}/" method="post">
                            {% csrf_token %}
                            <label for="movil">Encargado:</label>
                            <select class="form-control col-sm-6" name="encargado" id="">
                            {% for bombero in bomberos %}
                            <option value={{bombero.id}}>{{bombero.apellido}}, {{bombero.nombre}}</option>
                            {% endfor %}
                            </select>
                            <label for="movil">Cantidad de litros:</label>
                            <input class="form-control col-sm-3" type="number" name="cantidad" min="0" max="300" required>
                            <label for="">Fecha y hora del ticket de carga</label>
                            <input class="form-control col-sm-6" name="fecha" type="datetime-local" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar combustible</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                
                    </div>
                    </div>
                </div>
            </div>
        <!-- MODAL FLUIDOS-->
        <div class="modal fade" id="fluidos{{ movil.id }}" tabindex="-1" aria-labelledby="fluidos" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel3">Carga de combustible - Móvil {{ movil.numero }}</h5>
                </div>
                <div class="modal-body">
                    <form action="/fluidos/{{ movil.id }}/" method="post">
                      {% csrf_token %}
                      <label for="movil">Encargado:</label>
                      <select class="form-control col-sm-12" name="encargado" id="">
                        {% for bombero in bomberos %}
                        <option value={{bombero.id}}>{{bombero.apellido}}, {{bombero.nombre}}</option>
                        {% endfor %}
                      </select><br>
                      <p>Cantidad de fluido agregados (en litros):</p>
                      <div class="col-md-12 row wrapper">
                        <div class="col-sm-6">
                          <label for="movil">Agua en el radiador:</label>
                          <input class="form-control" type="number" name="agua" min="0" max="300" value="0"><br>
                        </div>
                        <div class="col-sm-6">
                          <label for="movil">Litros de aceite:</label>
                          <input class="form-control" type="number" name="aceite" min="0" max="50" value="0"><br>
                        </div>
                      </div>
                      <div class="col-md-12 row wrapper">
                        <div class="col-sm-6">
                          <label for="movil">Líquido hidráulico:</label>
                          <input class="form-control" type="number" name="hidraulico" min="0" max="50" value="0"><br>
                        </div>
                        <div class="col-sm-6">
                          <label for="movil">Líquido de frenos:</label>
                          <input class="form-control" type="number" name="frenos" min="0" max="50" value="0"><br>
                        </div>
                      </div>
                      <!-- Agua de tanque -->
                      <div class="col-md-12 row wrapper">
                        <label for="tanque">Agua de tanque:</label>
                        <div class="col-12 mb-2">
                          <input type="radio" class="btn-check" name="tanque" id="tanque-completo-{{ movil.id }}" value="Completo" required>
                          <label class="btn btn-outline-success mr-2" for="tanque-completo-{{ movil.id }}"><i class="fas fa-thumbs-up"></i> Completo</label>
                          
                          <input type="radio" class="btn-check" name="tanque" id="tanque-faltaba-{{ movil.id }}" value="Faltaba" required>
                          <label class="btn btn-outline-dark btn-fail" for="tanque-faltaba-{{ movil.id }}"><i class="fas fa-times"></i> Faltaba</label>                          
                        </div>
                    </div>

                    <!-- Bomba engranada -->
                    <label for="bomba">Bomba engranada:</label> 
                    <div class="col-12 mb-2">
                        <input type="radio" class="btn-check" name="bomba" id="bomba-funciona-{{ movil.id }}" value="Funciona" autocomplete="off">
                        <label class="btn btn-outline-success mr-2" for="bomba-funciona-{{ movil.id }}"><i class="fas fa-thumbs-up"></i> Funciona</label>

                        <input type="radio" class="btn-check" name="bomba" id="bomba-falla-{{ movil.id }}" value="Falla" autocomplete="off">
                        <label class="btn btn-outline-dark btn-fail" for="bomba-falla-{{ movil.id }}"><i class="fas fa-times"></i> Falla</label>
                    </div>

                    <!-- Luces reglamentarias/Emergencia -->
                    <label for="luces">Luces reglamentarias/Emergencia:</label>
                    <div class="col-12 mb-2">
                        <input type="radio" class="btn-check" name="luces" id="luces-funciona-{{ movil.id }}" value="Funciona" autocomplete="off">
                        <label class="btn btn-outline-success mr-2" for="luces-funciona-{{ movil.id }}"><i class="fas fa-thumbs-up"></i> Funciona</label>

                        <input type="radio" class="btn-check" name="luces" id="luces-falla-{{ movil.id }}" value="Falla" autocomplete="off">
                        <label class="btn btn-outline-dark btn-fail" for="luces-falla-{{ movil.id }}"><i class="fas fa-times"></i> Falla</label>
                    </div>

                    <!-- Sirenas/Bocina -->
                    <label for="sirena">Sirenas/Bocina:</label>
                    <div class="col-12 mb-2">
                        <input type="radio" class="btn-check" name="sirena" id="sirena-funciona-{{ movil.id }}"  value="Funciona" autocomplete="off">
                        <label class="btn btn-outline-success mr-2" for="sirena-funciona-{{ movil.id }}"><i class="fas fa-thumbs-up"></i> Funciona</label>

                        <input type="radio" class="btn-check" name="sirena" id="sirena-falla-{{ movil.id }}" value="Falla" autocomplete="off">
                        <label class="btn btn-outline-dark btn-fail" for="sirena-falla-{{ movil.id }}"><i class="fas fa-times"></i> Falla</label>
                    </div>
                      <div class="col-md-12">
                        <label for="">Comentarios:</label>
                        <textarea class="form-control" name="comentario" id=""></textarea>
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Guardar chequeo</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          
                </div>
              </div>
            </div>
          </div>

                  <!-- MODAL ESTADO-->
        <div class="modal fade" id="estado{{ movil.id }}" tabindex="-1" aria-labelledby="estado" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel3">Cambio de estado - Móvil {{ movil.numero }}</h5>
                </div>
                <div class="modal-body">
                    <form action="/cambiarestado/{{ movil.id }}/" method="post">
                      {% csrf_token %}
                      <label for="movil">Nuevo estado:</label>
                      <select class="form-control col-sm-6" name="estado" id="">
                        {% for estado in estados %}
                        <option value={{estado.id}}>{{estado.estado}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Actualizar estado</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          
                </div>
              </div>
            </div>
        </div>
          {% endfor %}
        </div>
</div>

</div>
</div>
{% endblock %}
{% block js_block %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Selecciona todos los radios ocultos y sus labels asociados
    document.querySelectorAll(".btn-check").forEach(function (input) {
        input.addEventListener("change", function () {
            // Remueve la clase 'active' de los labels hermanos
            let name = this.getAttribute("name");
            document.querySelectorAll(`input[name="${name}"] + label`).forEach(function (label) {
                label.classList.remove("active");
            });

            // Agrega la clase 'active' al label del input seleccionado
            this.nextElementSibling.classList.add("active");
        });
    });
});

</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  tooltipTriggerList.forEach(function (tooltipTriggerEl) {
    new bootstrap.Tooltip(tooltipTriggerEl);
  });
});

</script>
<script>
  function filtrarMoviles() {
      var filtro = document.getElementById("filtroCuartel").value;
      var tarjetas = document.querySelectorAll(".movil-card");

      tarjetas.forEach(function(tarjeta) {
          if (filtro === "todos" || tarjeta.dataset.cuartel === filtro) {
              tarjeta.style.display = "block";
          } else {
              tarjeta.style.display = "none";
          }
      });
  }
</script>
{% endblock %}