{% extends 'planilla/base.html' %}
{% load static %}
{% block title %}Mapa{% endblock title %}
{% block css_block %}
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="col-sm-6">
        </div><!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
        <!-- 1ra fila -->
         <div class="row col-sm-12">
          <button class="btn btn-primary" id="hidrantes">Mostrar/Ocultar Hidrantes</button>
         </div>
         <div class="row col-sm-12">
          <button class="btn btn-secondary" id="cuarteles">Mostrar/Ocultar Cuarteles</button>
         </div>
         <div class="row col-sm-12">
          <div id="map" style="height: 800px; width: 100%;"></div>
         </div>

    </div>
    </div>

{% endblock %}
{% block js_block %}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgZ9iDyLaJEwAAYUcuN7MgVWN2alaLd1s&libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
<script>
    const ZONAS_JSON_URL = "{% static 'planilla/zonas.json' %}";
    const HIDRANTES_JSON_URL = "{% static 'planilla/hidrantes.json' %}";
    const HIDRANTES_PNG_URL = "{% static 'planilla/images/hidrante.png' %}"
    const CUARTELES_JSON_URL = "{% static 'planilla/cuarteles.json' %}"
    const PNG_URL = "{% static 'planilla/' %}"

</script>
<script src="{% static 'planilla/mapa.js' %}"></script>



{% endblock %}
