{% extends 'planilla/base.html' %}
{% load static %}
{% block css_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<style>
  #map {
      height: 500px;
      width: 100%;
  }
</style>
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="col-sm-6">
        </div><!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
        <!-- 1ra fila -->
         <div class="row col-sm-12 mb-3 d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card card-info">
                    <div class="card-header border-0">
                      <h3 class="card-title">Nuevo servicio</h3>
                    </div>
                    <div class="card-body">
                    <form action="/modificar_servicio/{{servicio.id}}/" method="POST" id="form_servicio">
                        {% csrf_token %}
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="row form-group col-md-12">
                                <label for="">Dirección de la intervención</label>
                                <div class="row col-md-12">
                                    <input class="form-control col-sm-8" type="text" name="address" id="address" placeholder="Ingrese una dirección" value="{{servicio.direccion}}" required>
                                    <button id="buscarDireccion" class="btn btn-success" onclick="geocodeAddress(event)">Buscar Dirección</button>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="row form-group mr-3 col-md-4">
                                    <label for="exampleInputPassword1">Número de guardia operativa</label>
                                    <input type="number" class="form-control" id="guardia" name="guardia" min="0" value="{{servicio.guardia_operativa}}" required>
                                </div>
                                <div class="row form-group col-md-4">
                                    <label for="exampleInputPassword1">Número de servicio</label>
                                    <input type="number" class="form-control" id="numeroservicio" name="numero" min="0" value="{{servicio.numero}}" required>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-3 row mr-3">
                                    <label for="exampleInputPassword1">Zona</label>
                                    <input class="form-control" type="text" name="zona" id="zona">
                                </div>
                                <div class="form-group col-md-3 row mr-3">
                                <label for="exampleInputPassword1">Móvil</label>
                                <select class="form-control" name="movil" id="movil">
                                    <option value="{{ servicio.movil.id }}" selected>Móvil {{ servicio.movil.numero }}</option>
                                {% for movil in moviles %}
                                {% if movil.IDEstado.estado == "En servicio" or movil.IDEstado.estado == "Condicional" %}
                                    <option value="{{ movil.id }}">Móvil {{ movil.numero }}</option>
                                {%endif%}
                                {% endfor %}
                                </select>
                                </div>
                                <div class="form-group col-md-4 row">
                                    <label for="exampleInputPassword1">Hora de salida</label>
                                    <input type="datetime-local" class="form-control" name="salida" value="{{ fecha }}" required>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-6 row mr-3">
                                    <label for="exampleInputPassword1">Encargado</label>
                                    <select class="form-control" name="encargado" id="encargado" required>
                                        <option value="{{ servicio.encargado.id }}" selected>{{ servicio.encargado.IDJerarquia.jerarquia }} {{ servicio.encargado.apellido }}, {{ servicio.encargado.nombre }}</option>
                                        {% for bombero in bomberos %}
                                            <option value="{{ bombero.id }}">{{ bombero.IDJerarquia.jerarquia }} {{ bombero.apellido }}, {{ bombero.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4 row mr-3">
                                    <label for="exampleInputPassword1">Tipo de servicio</label>
                                    <select class="form-control" name="tiposervicio" id="tiposervicio" required>
                                        <option value="{{ servicio.tipo.id }}">{{ servicio.tipo.tipo }}</option>
                                        {% for tipo in tipo_servicios %}
                                            <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-md-6 row mr-3">
                                    <label for="exampleInputPassword1">Denunciante</label>
                                    <input class="form-control" type="text" name="denunciante" value="{{ servicio.nombre_denunciante }}">
                                </div>
                                <div class="form-group col-md-4 row mr-3">
                                    <label for="exampleInputPassword1">Teléfono del denunciante</label>
                                    <input class="form-control" type="text" name="telefono" value="{{ servicio.telefono_denunciante }}">
                                </div>
                            </div>
                            <div class="row col-md-12">
                                {% if presentes %}
                                <label for="">Bomberos que salieron en el móvil {{servicio.movil.numero}}:</label>
                                <table class="table table-bordered nowrap mb-2">
                                    <thead>
                                      <tr>
                                        <th>Bombero</th>
                                        <th>Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for presente in presentes %}
                                      {% if not presente.encargado == True %}
                                          <tr id="presente-{{ presente.id }}">
                                            <td>{{presente.bombero}}</td>
                                            <td>
                                                <button class="btn btn-danger eliminar-btn" data-id="{{ presente.id }}">Eliminar</button>
                                            </td>
                                          </tr>
                                        {% endif %}
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                {% endif %}
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="row-count">Selecciona el número de bomberos que deseas agregar:</label>
                                        <select class="form-control col-md-3" id="row-countA">
                                          <option value="0">0</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                        </select>
                                    </div>
                                
                                    <div id="fields-presente" class="row col-md-12 wrapper"></div>
                                </div>
                            </div>
                            <input type="hidden" id="latitude" name="latitude" value="{{servicio.latitud}}">
                            <input type="hidden" id="longitude" name="longitude" value="{{servicio.longitud}}">
                            
                        </div>
                        <div class="col-md-6">                   
                            <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
                                <div id="map" style="height: 500px; width: 900px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 d-flex justify-content-end">
                        <button type='button' data-toggle="modal" data-target="#checkModal" class="btn btn-danger">Modificar intervención</button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

            <!-- Modal de confirmación -->
            <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="checkModalLabel">Confirmar modificación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas modificar esta intervención?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="confirmarModificacion">Modificar</button>
                        </div>
                    </div>
                </div>
            </div>


    </div>
    </div>

{% endblock %}
{% block js_block %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgZ9iDyLaJEwAAYUcuN7MgVWN2alaLd1s&libraries=places"></script>

<script>
    document.getElementById("confirmarModificacion").addEventListener("click", function() {
        // Aquí puedes enviar el formulario o hacer la acción deseada
        document.getElementById("form_servicio").submit(); // Si hay un formulario con id "miFormulario"
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".eliminar-btn").forEach(button => {
        button.addEventListener("click", function (event) {
        event.preventDefault(); // Evita el envío del formulario si está dentro de uno
          let presenteId = this.getAttribute("data-id");
  
          fetch(`/eliminarpresenteservicio/${presenteId}/`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}"  // Asegurar la protección CSRF
            }
          }).then(response => {
            console.log(response)
            if (response.ok) {
              document.getElementById(`presente-${presenteId}`).remove();
            }
          }).catch(error => console.error("Error:", error));
        });
      });
    });
  </script>

<script>
    const rowCountSelectA = document.getElementById("row-countA");
    const fieldsContainerA = document.getElementById("fields-presente");

    rowCountSelectA.addEventListener("change", function () {
      const rowCount = parseInt(rowCountSelectA.value, 10);

      // Limpiar el contenedor antes de agregar nuevos campos
      fieldsContainerA.innerHTML = "";

      // Generar las filas dinámicamente
      for (let i = 0; i < rowCount; i++) {
        const row = document.createElement("div");
        row.className = "form-group row col-md-6";

        // Crear un select
        const selectLabel = document.createElement("label");
        selectLabel.innerText = "Bombero"
        selectLabel.className = "col-sm-4 col-form-label"
        const select = document.createElement("select");
        select.name = `presente-${i}`;
        select.className = "form-control col-8"
        select.innerHTML = `
        {%for bombero in bomberos %}
        <label>Bombero:</label>
        <option class="mr-3" value="{{bombero.id}}">{{bombero.jerarquia}} {{bombero.apellido}}, {{bombero.nombre}}</option>
        {% endfor %}
        `;

        // Agregar los elementos al contenedor de la fila
        row.appendChild(selectLabel);
        row.appendChild(select);

        // Agregar la fila al contenedor principal
        fieldsContainerA.appendChild(row);
      }
    });
  </script>

<script>
    // Inicializa el mapa y el geocodificador
    var map;
    var geocoder;
    var marker;
    let zonas = [];
  
    function initMap() {
      // Crear el mapa y centrarlo en una ubicación predeterminada
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.657713050818785, lng: -58.63239669756467 },
        zoom: 13
      });
        // Inicializar el servicio de geocodificación
        geocoder = new google.maps.Geocoder();

      // Crea un marcador (será movido después según la dirección)
      marker = new google.maps.Marker({
        map: map,
      });
  
       // Cargar zonas desde el archivo JSON (pero sin dibujar en el mapa)
       fetch("{% static 'planilla/zonas.json' %}")
            .then(response => response.json())
            .then(data => {
                data.features.forEach(feature => {
                    let zonaCoords = feature.geometry.coordinates[0].map(coord => ({ 
                        lat: parseFloat(coord[1]), 
                        lng: parseFloat(coord[0]) 
                    }));
                    let zona = new google.maps.Polygon({ paths: zonaCoords }); // Solo se usa para verificar, no se dibuja
                    zonas.push({ nombre: feature.properties.Name, poligono: zona });
                });
            });
      
      // Crear el servicio de autocompletado
      var input = document.getElementById("address");
      var autocomplete = new google.maps.places.Autocomplete(input);
  
      // Asocia el autocompletado con el mapa
      autocomplete.bindTo("bounds", map);
  
      // Define lo que sucede cuando se selecciona una opción del autocompletado
      autocomplete.addListener("place_changed", function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                alert("No se encontraron coordenadas para la dirección.");
                return;
            }

            map.setCenter(place.geometry.location);
            map.setZoom(15);

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            // Guardar latitud y longitud en los inputs ocultos
            document.getElementById("latitude").value = place.geometry.location.lat();
            document.getElementById("longitude").value = place.geometry.location.lng();
        });
    }

    function geocodeAddress(event) {
        if (event) event.preventDefault()

        var address = document.getElementById("address").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                let location = results[0].geometry.location;
                map.setCenter(results[0].geometry.location);
                marker.setPosition(results[0].geometry.location);
                marker.setVisible(true);

                // Guardar latitud y longitud en los inputs ocultos
                document.getElementById("latitude").value = results[0].geometry.location.lat();
                document.getElementById("longitude").value = results[0].geometry.location.lng();

            // Verificar en qué zona se encuentra
            let zonaEncontrada = "Fuera de las zonas definidas";
                zonas.forEach(zona => {
                    if (google.maps.geometry.poly.containsLocation(location, zona.poligono)) {
                        zonaEncontrada = zona.nombre;
                    }
                });

                document.getElementById("zona").value = zonaEncontrada;
                console.log("zona", zonaEncontrada)
            } else {
                alert('No se pudo encontrar la dirección: ' + status);
            }

        });

    }

    // Cargar el mapa cuando la página esté lista
    google.maps.event.addDomListener(window, "load", initMap);


  </script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    setTimeout(() => {
        if (document.getElementById("address").value.trim() !== "") {
            geocodeAddress(); // Llamar la función automáticamente si hay una dirección en el input
        }
    }, 1000); // Pequeño retraso para asegurar que el mapa se haya cargado correctamente
});
</script>

{% endblock %}
