{% extends 'planilla/base.html' %}
{% load static %}

{% block title %}Móviles{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.css">
{% endblock %}
{% block content %}
<style>
  .btn-check:checked + .btn {
      background-color: #198754; /* Verde para OK */
      color: white;
  }
  .btn-check:checked + .btn.btn-fail {
      background-color: #ffc107; /* Amarillo para Fallo */
      color: black;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="col-sm-6">
        </div><!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
        <!-- 1ra fila -->
<div class="row">
    {% if todo_los_moviles %}
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de móviles cargados</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <table id="example1" class="table table-bordered ">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Número</th>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Base</th>
                  <th class="text-center">Intevenciones</th>
                  <th class="text-center">Última carga <br>combustible</th>
                  <th class="text-center">Última revisión <br>de fluidos</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for movil in todo_los_moviles %}
                    <tr class="text-center">
                      <td class="text-center ">{{ movil.numero }}</td>
                      <td>{{ movil.IDTipo }}</td>
                      <td>{{ movil.IDBase }}</td>
                      <td><div class="progress mb-3">
                        <div class="progress-bar 
                                    {% if movil.intervenciones <= 4 %} bg-success 
                                    {% elif movil.intervenciones <= 7 %} bg-warning 
                                    {% else %} bg-danger 
                                    {% endif %}" 
                             role="progressbar" 
                             aria-valuenow="{{ movil.intervenciones }}" aria-valuemin="0" aria-valuemax="10" 
                             style="width: calc({{ movil.intervenciones }} * 10%);">
                          <span>{{ movil.intervenciones }}</span>
                        </div>
                      </div></td>
                      <td>{{ movil.ultima_carga }}</td>
                      <td>{{ movil.ultima_fluidos }}</td>
                      {% if movil.IDEstado.estado == "En servicio" %}
                        <td class="text-green">{{movil.IDEstado.estado}}</td>
                      {% elif movil.IDEstado.estado == "Condicional"  %}
                        <td class="text-yellow">{{movil.IDEstado.estado}}</td>  
                      {% else %}
                        <td class="text-red">{{movil.IDEstado.estado}}</td>  
                      {% endif %}
                      <td>
                        <a class="btn btn-secondary" href="/movil/{{ movil.id }}/">Ver</a>
                      </td>
                    </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
          <!-- /.card-body -->
        </div>

    {% else %}
      <p>No hay móviles cargados.</p>
    {% endif %}
  </div>

</div>
</div>
{% endblock %}
{% block js_block %}

<!-- DATATABLES -->
<script src="https://cdn.datatables.net/v/dt/dt-2.1.4/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.bootstrap5.js"></script> 
<script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.js"></script>

<script>
$(function () {
    $('#example1').DataTable({
    language: {
    url: 'https://cdn.datatables.net/plug-ins/2.2.1/i18n/es-CL.json',
    },
    "paging": true,
    "lengthChange": true,
    "searching": true,
    "ordering": true,
      order:[[2, 'asc'],[0, 'asc']],
    "ordering": true,
    "autoWidth": false,
    "responsive": true,
    });
});
</script>
{% endblock %}