{% extends 'planilla/base.html' %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{planilla.fecha}} - Guardia {{planilla.guardia}}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Oficial de semana</span>
                      <span class="info-box-number text-center text-muted mb-0">{{planilla.oficial}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Cabecera de compañia</span>
                      <span class="info-box-number text-center text-muted mb-0">{{planilla.cabecera}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Cuartelero</span>
                      <span class="info-box-number text-center text-muted mb-0">{{planilla.cuartelero}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="mb-0">NOVEDADES DURANTE LA GUARDIA</h4>
                    <div class="post">
                    </div>

                    <div class="post clearfix">
                      <!-- /.user-block -->
                    <p style="font-weight: bold;">GASTOS</p>
                       <div class="d-flex justify-content-around">
                      <span style="font-weight: bold;">Dinero recibido:</span>  <span class="description">${{planilla.recibido}}</span> - 
                      <span style="font-weight: bold;">Gastos:</span>  <span class="description">${{planilla.gastado}}</span> -
                      <span style="font-weight: bold;">Concepto:</span>  <span class="description">{{planilla.concepto}}</span>  - 
                      <span style="font-weight: bold;">Dinero entregado:</span>  <span class="description">${{planilla.entregado}}</span>
                        </div>
                    </div>

                    <div class="post">
                        <p style="font-weight: bold;">NOVEDADES</p>
                        <p>{{planilla.novedades}}</p>
                    </div>
                    <div class="post">
                        <p style="font-weight: bold;">TAREAS REALIZADAS</p>
                        <p>{{planilla.tareas}}</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <!-- <h4>ENCARGADO DE GUARDIA:</h4>
              <h4></h4> -->
              <div class="col-12 col-sm-10">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Encargado de guardia</span>
                    <span class="info-box-number text-center text-muted mb-0">{{planilla.encargado}}</span>
                  </div>
                </div>
              </div>
              <br>
              <div class="text-muted">
                <b class="d-block">Chofer</b>
                {% if planilla.chofer == None %}
                <p class="text-sm">Sin chofer</p>
                {% else %}
                <p class="text-sm">{{planilla.chofer}}</p>
                {% endif %}

                <b class="d-block">Ayudante</b>
                <p class="text-sm">{{planilla.ayudante}}</p>

                <b class="d-block">Personal de guardia</b>
                {% for bombero in bom_presentes %}
                    {% if bombero.guardia_op_id == planilla.id%}
                    <p class="text-sm mb-0">{{bombero}}</p>
                    {% endif %}
                {% endfor%}

                <b class="d-block mt-3">Personal ausente</b>
                {% for bombero in bom_ausentes %}
                    {% if bombero.guardia_op_id == planilla.id%}
                    <p class="text-sm mb-0">{{bombero}}</p>
                    {% endif %}
                {% endfor%}
  
  
              <b class="d-block mt-3">Personal de refuerzo</b>
              {% for bombero in bom_refuerzos %}
                  {% if bombero.guardia_op_id == planilla.id%}
                  <p class="text-sm mb-0">{{bombero}}</p>
                  {% endif %}
              {% endfor%}
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

  {% endblock %}